server:
  port: 8080 # El puerto estándar del Gateway

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      # Habilitar CORS globalmente para que Angular no se queje
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
            allowedHeaders: "*"
      
      routes:
        # --- RUTA 1: IAM SERVICE (Usuarios y Roles) ---
        - id: iam-service
          uri: lb://IAM-SERVICE  # "lb" = Load Balancer (Busca en Eureka)
          predicates:
            # Si la URL empieza con esto, mándalo al IAM
            - Path=/api/v1/authentication/**, /api/v1/users/**, /api/v1/roles/**

        # --- RUTA 2: PROFILE SERVICE (Productores y Distribuidores) ---
        - id: profile-service
          uri: lb://PROFILE-SERVICE # Asegúrate que coincida con spring.application.name del profile
          predicates:
            - Path=/api/v1/profiles/**

        # --- RUTA 3: STORE SERVICE (Productos y Pagos) ---
        - id: store-service
          uri: lb://STORE-SERVICE
          predicates:
            - Path=/api/v1/products/**, /api/v1/payments/**

        # --- RUTA 4: FIELDS SERVICE (Campos y Trabajadores) ---
        - id: fields-service
          uri: lb://FIELDS-SERVICE
          predicates:
            - Path=/api/v1/fields/**, /api/v1/workers/**

        # --- RUTA 5: AGRICULTURAL PROCESS SERVICE ---
        - id: process-service
          uri: lb://AGRICULTURAL-PROCESS-SERVICE
          predicates:
            - Path=/api/v1/processes/**, /api/v1/activities/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

# Configuración de Seguridad (Token)
# Debe ser EXACTAMENTE la misma clave que en iam-service
authorization:
  jwt:
    secret: 8Zz5tw0Ionm3XPZZfN0NOml3z9FMfmpgXwovR9fp6ryDIoGRM8EPHAB6iHsc0fb